<!--/*
This fragment implements card with appeal for adding new device. It is usually shown when no device is available.
This page is using Thymeleaf template for server-side generated pages.
*/-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
  <div th:fragment="no_device" class="d-flex justify-content-center">
    <div class="card col-md-auto text-center">
      <div class="card-body">
        <h5 class="card-title" th:text="#{devices.no_watering_device}"></h5>
        <p class="card-text" th:text="#{devices.no_watering_device_description}"></p>
        <a class="btn btn-primary" th:href="@{/devices/add}" th:text="#{devices.add_device}"></a>
      </div>
    </div>
  </div>
  </body>
</html>
