<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <form th:fragment="schedule_form" method="POST" th:action="@{/schedules}" th:object="${schedule}">
      <input type="hidden" th:field="*{id}" class="form-control">
      <div class="form-group">
        <label for="inputDescription" th:text="#{common.description}"></label>
        <input type="text" th:field="*{description}" class="form-control" th:classappend="${#fields.hasErrors('description')}? 'is-invalid'" id="inputDescription" th:placeholder="#{common.enter_description}">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
      </div>
      <div class="form-group">
        <label for="inputDevice" th:text="#{common.watering_device}"></label>
        <select class="form-control" th:classappend="${#fields.hasErrors('deviceId')}? 'is-invalid'" id="inputDevice" th:field="*{deviceId}">
          <option th:each="device : ${devices}" th:value="${device.deviceId}" th:text="${device.getDisplayValue()}"></option>
        </select>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('deviceId')}" th:errors="*{deviceId}"></div>
      </div>
      <div class="form-row">
        <div class="col-sm-8">
          <label for="inputInterval" th:text="#{schedule.interval}"></label>
          <input type="number" th:field="*{interval}" class="form-control" th:classappend="${#fields.hasErrors('interval')}? 'is-invalid'" id="inputInterval">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('interval')}" th:errors="*{interval}"></div>
        </div>
        <div class="col-sm-4">
          <label for="inputUnit" th:text="#{schedule.unit}"></label>
          <select class="form-control" th:field="*{unit}" id="inputUnit">
            <option th:each="unit : ${T(com.kyberpunk.iot.watering.model.TimeUnit).values()}" th:value="${unit}"
                    th:text="#{'common.unit.'+${unit}}"></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDuration" th:text="#{common.duration_seconds}"></label>
        <input type="number" th:field="*{duration}" class="form-control" th:classappend="${#fields.hasErrors('duration')}? 'is-invalid'" id="inputDuration" th:placeholder="#{common.enter_description}">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
      </div>
      <div class="form-group">
        <label for="inputStartAt" th:text="#{schedule.start_at}"></label>
        <input class="form-control" th:classappend="${#fields.hasErrors('startAt')}? 'is-invalid'" type="datetime-local" th:field="*{startAt}" id="inputStartAt">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('startAt')}" th:errors="*{startAt}"></div>
      </div>
      <button type="submit" class="btn btn-primary" th:text="#{common.submit}"></button>
      <a class="btn btn-danger" th:href="@{/schedules}" role="button" th:text="#{common.cancel}"></a>
    </form>
  </body>
</html>
