<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <form th:fragment="watering_form" method="POST" action="#" th:action="@{/watering}" th:object="${watering}">
      <div class="form-group">
        <label for="inputDevice" th:text="#{common.watering_device}"></label>
        <select class="form-control" th:classappend="${#fields.hasErrors('deviceId')}? 'is-invalid'" id="inputDevice" th:field="*{deviceId}">
          <option th:each="device : ${devices}" th:value="${device.deviceId}" th:text="${device.getDisplayValue()}"></option>
        </select>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('deviceId')}" th:errors="*{deviceId}"></div>
      </div>
      <div class="form-group">
        <label for="inputDuration" th:text="#{common.duration_seconds}"></label>
        <input type="number" th:field="*{duration}" class="form-control" th:classappend="${#fields.hasErrors('duration')}? 'is-invalid'" id="inputDuration" th:placeholder="#{common.enter_description}">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
      </div>
      <button type="submit" class="btn btn-primary" th:text="#{common.submit}"></button>
    </form>
  </body>
</html>
