<!--/*
This page contains table with all watering devices, its states and available actions which can be done on devices
resource. If no device is available then form with appeal for adding new device is shown.
This page is using Thymeleaf template for server-side generated pages.
*/-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <title th:text="|#{devices.devices} - #{common.watering_service}|"></title>
  </head>
  <body>
    <main layout:fragment="content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" th:text="#{devices.devices}"></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a class="btn btn-sm btn-outline-primary" th:href="@{/devices/add}" role="button" th:text="#{devices.add_device}"></a>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th th:text="#{devices.status}"></th>
              <th th:text="#{devices.device_id}"></th>
              <th th:text="#{devices.ip_address}"></th>
              <th th:text="#{common.description}"></th>
              <th th:text="#{watering.last_watered}"></th>
              <th th:text="#{common.actions}"></th>
            </tr>
          </thead>
          <tbody>
          <th:block th:each="device : ${devices}">
            <tr>
              <td>
                <span th:if="${device.status == T(com.kyberpunk.iot.watering.model.DeviceStatus).ONLINE}" class="text-success" data-feather="check-circle"></span>
                <span th:unless="${device.status == T(com.kyberpunk.iot.watering.model.DeviceStatus).ONLINE}" class="text-danger" data-feather="alert-circle"></span>
              </td>
              <td th:text="${device.deviceId}"></td>
              <td th:text="${device.ip}"></td>
              <td th:text="${device.description}"></td>
              <td>
                <span th:text="${T(com.kyberpunk.iot.watering.dto.DateFormatHelper).pretty(device.lastWatered)}" data-toggle="tooltip"
                      th:title="${T(com.kyberpunk.iot.watering.dto.DateFormatHelper).format(device.lastWatered)}"></span>
              </td>
              <td>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{http://{ip}(ip=${device.ip})}" role="button" th:text="#{common.link}"></a>
                    <a class="btn btn-sm btn-outline-danger" th:href="@{/devices/delete/{id}(id=${device.deviceId})}" role="button" th:text="#{common.delete}"></a>
                  </div>
                </div>
              </td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
