<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title layout:title-pattern="$CONTENT_TITLE"></title>

    <link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" th:href="@{/}" th:text="#{common.watering_service}"></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" th:aria-label="#{common.toggle_navigation}">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3" sec:authorize="isAuthenticated()">
    <li class="nav-item text-nowrap">
      <form method="POST" action="#" th:action="@{/logout}" class="form-inline">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div sec:authentication="name" class="text-white mr-2"></div>
        <button id="logoutButton" type="submit" class="btn btn-sm btn-outline-light my-sm-1" th:text="#{common.sign_out}"></button>
      </form>
    </li>
  </ul>
  </nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" th:classappend="${selectedMenuItem == 'watering'}? 'active'" th:href="@{/watering}">
              <span data-feather="droplet"></span>
              <span th:text="#{watering.watering}"></span> <span class="sr-only" th:if="${selectedMenuItem == 'watering'}" th:text="#{common.current}"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${selectedMenuItem == 'schedules'}? 'active'" th:href="@{/schedules}">
              <span data-feather="clock"></span>
              <span th:text="#{schedule.schedules}"></span> <span class="sr-only" th:if="${selectedMenuItem == 'schedules'}" th:text="#{common.current}"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${selectedMenuItem == 'devices'}? 'active'" th:href="@{/devices}">
              <span data-feather="cpu"></span>
              <span th:text="#{devices.devices}"></span> <span class="sr-only" th:if="${selectedMenuItem == 'devices'}" th:text="#{common.current}"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main layout:fragment="content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" th:text="#{common.watering_service}"></h1>
      </div>
    </main>
  </div>
</div>
<script src="/webjars/jquery/3.5.1/jquery.slim.min.js" crossorigin="anonymous"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/webjars/feather-icons/4.28.0/dist/feather.min.js"></script>
<script src="/js/dashboard.js"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html>
