<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <title>Watering - Watering Service</title>
  </head>
  <body>
    <main layout:fragment="content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Water now</h1>
      </div>
      <div th:if="${success != null}" class="alert alert-success" role="alert">
        Watering was successfully executed!
      </div>
      <div th:if="${error != null}" th:text="|Watering failed: ${error}|" class="alert alert-danger" role="alert">
      </div>
      <form method="POST" action="#" th:action="@{/watering}" th:object="${watering}">
        <div class="form-group">
          <label for="inputDevice">Watering device</label>
          <select class="form-control" th:classappend="${#fields.hasErrors('deviceId')}? 'is-invalid'" id="inputDevice" th:field="*{deviceId}">
            <option th:each="device : ${devices}" th:value="${device.deviceId}" th:text="${device.getDisplayValue()}"></option>
          </select>
          <div class="invalid-feedback" th:if="${#fields.hasErrors('deviceId')}" th:errors="*{deviceId}"></div>
        </div>
        <div class="form-group">
          <label for="inputDuration">Duration (seconds)</label>
          <input type="number" th:field="*{duration}" class="form-control" th:classappend="${#fields.hasErrors('duration')}? 'is-invalid'" id="inputDuration" placeholder="Enter description">
          <div class="invalid-feedback" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
  </body>
</html>
